@import "variables";

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: $primary;
  left: 26%;
  margin-left: -2.5px
}

.timeline > li {
  position: relative;
  min-height: 50px;
  padding: 20px 0
}

.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 16%;
  text-align: right;
  top: 30px
}

.timeline .timeline-time .time-body {
  display: block;
  font-weight: 600
}

.timeline .timeline-time .time {
  line-height: 24px;
  font-size: 18px;
  color: #242a30
}

.timeline .timeline-time .sub-time {
  color: #646569
}

.timeline .timeline-icon {
  left: 21%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timeline-icon span {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: $primary-accent;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid $primary;
  transition: border-color .2s linear
}

.timeline .timeline-body {
  margin-left: 32%;
  margin-right: 11%;
  background: $primary-accent;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px
}

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: $primary-accent;
  left: -20px;
  top: 20px
}

.timeline .timeline-body > div + div {
  margin-top: 15px
}

.timeline .timeline-body > div + div:last-child {
  border-radius: 0 0 6px 6px
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $primary-accent;
}

.timeline-header .desc {
  font-size: 14px;
}

.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}

.download-link {
  text-decoration: none;
  color: grey;
  font-size: 12px;
  margin-left: 15px;
  position: absolute;
  margin-top: 40px;
}
