<section id="career" class="mt-5 bottom">
  <div class="container">
    <span class="section-headline">Beruflicher Werdegang</span>


      <div>
        <a href="/assets/download/Lebenslauf_Helbing.pdf" class="download-link " download>
          <i class="bi bi-download"></i> Lebenslauf.pdf
        </a>
      </div>


    <ul class="timeline">
      <li *ngFor="let step of career.carrerSteps">
        <div class="timeline-time">
          <div class="time-body">
            <span class="time">{{step.durationFrom | date: "MM/yyyy"}}</span>
            <span class="time"> - </span>
            <span class="time">{{getPresentDateString(step.durationTo)}}</span>
          </div>
          <div>
            <span class="sub-time"><small>{{getDateDiffString(step.durationFrom, step.durationTo)}}</small></span>
          </div>
        </div>
        <div class="timeline-icon">
          <span></span>
        </div>
        <div class="timeline-body">
          <div class="timeline-header">
            <div>
              <span><strong>{{step.companyName}}</strong></span>
            </div>
            <div class="desc">
              <span>{{step.jobTitle}}</span>
            </div>
          </div>
          <div class="timeline-content">
            <ul>
              <li *ngFor="let desc of step.jobDesciption">
                {{desc}}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

