@import "variables";

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}

fa-icon{
  font-size: 15px;
  color: #149ddd;
  width: 30px;
  height: 30px;
  background: $primary-accent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.link-image:hover {
  opacity: 0.2;
}

.devicon-github-original-wordmark {
  font-size: 30px;
}

.profile-image {
  border: solid 1px grey;
  padding: 5px;
}
