/* You can add global styles to this file, and also import other style files */
@import "variables";

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
/* Importing Bootstrap Icons. */
@import "bootstrap-icons/font/bootstrap-icons.css";
/* Importing devicon Icons. */
@import "devicon/devicon.min.css";

html {
  height: 100%;
}

body {
  padding-top: 56px;
  font-family: "Poppins", sans-serif;
}

.section-headline {
  font-size: 2.5rem;
  border-bottom: 3px solid $primary;
}
