.w-100 {
  width: 100%!important;
}

.custom-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.cards {
  width: calc(100% - 100px);
  overflow: hidden;
}

.overflow {
  position: relative;
  transition: left 0.5s ease-in-out;
}

.card {
  height: 430px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.card-title {
  height: 75px;
}

.card-content {
  display: inline-grid;
}

.project-text {
  height: 150px;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.left.disabled, .right.disabled {
  color: grey;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bottom {
  padding-bottom: 2rem;
}
